<section class="block container">
    <header class="block__header">
        <h2>Host oh the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, fuga.</p>
    </header>
    <article class="grid grid--1x2 feature">    
        <div class="feature__content">
            <img class="icon" src="./images/easy_img.svg" alt="tech easy image"/>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique magnam modi ratione in aliquam dicta! Laborum perferendis sint excepturi!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="./images/easy_.jpg" alt="a tech image">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <img class="icon" src="./images/computer_.svg" alt="tech computer image"/>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique magnam modi ratione in aliquam dicta! Laborum perferendis sint excepturi!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="./images/fast_.jpg" alt="a tech image">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <img class="icon" src="./images/settings_.svg" alt="tech settings image"/>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique magnam modi ratione in aliquam dicta! Laborum perferendis sint excepturi!</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="./images/wordpress_.jpg" alt="a tech image">
    </article>
</section>