<blockquote class="quote">
    <p class="quote__text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fuga deleniti quisquam autem tempore, doloremque eius nam ea culpa commodi!</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <img class="icon quote__line" src="./images/line_h.svg" alt="chevron image"/>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
        </div>
    </footer>
   </blockquote>